.trailer{
    display: flex;
}
#avatardiv{
    display: flex;
    padding: 10px;
}
.avatars{
    width: 33.3%;
    border-radius: 20px;
}
.avatars:hover{
  animation: reveal 0.7s ease;
}

@keyframes reveal{
  0%{
    transform: scale(1);
    opacity: 60%;
  }
  50%{
    transform: scale(1.5);
  }
  100%{
    transform: scale(1);
  }
}
.links{
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}
.links:hover{
  animation: reveal 0.7s;
}
.header{
  background-image: url('./images/MainPoster.jpg');
  background-position: center;
  height: 100vh;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}
.footer{
  background: linear-gradient(black, darkred);
  color: #fff;
  padding: 5px;
  font-family: 'Roboto', sans-serif;
  position: relative;
}
@font-face { font-family: Akira; src: url('./j-jiayou-akira-font/JiayouAkira-MAVEY.otf'); } 